*{
    box-sizing: border-box;
}
body{
    max-width: 100%;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}
.container{
    max-width: 100%;
    margin: 0 auto;
}
/* MENU */
.menu{
    background-color: rgb(36, 31, 31);
    position: fixed;
    z-index: 999;
    width: 100%;
}
.menu ul{
    list-style-type: none;
    margin: 0;
    padding: 20px;
    text-align: center;
}
.menu ul li{
    display: inline-block;
}
.menu ul li a{
    padding: 1em 2em;
    display: block;
    text-decoration: none;
    color: white;
    margin: 0 1em;
    border: 1px solid rgb(107, 104, 104);
    transition: all 0.4s;
    text-transform: capitalize;  
}
.menu ul li a.item1{
    background-color: rgb(63, 61, 61);
}
.menu a:hover{
    background-color: rgb(63, 61, 61);
    color: white;
}
.banner{
    position: relative;
}
.banner img{
    width: 100%;
    height: 600px;  
}
.conquer{
    font-size: 100px;
    position: absolute;
    color: white;
    top: 100px;
    left: 450px;
    text-transform: capitalize;
    text-shadow: 2px 2px #000;
}
.simple{
    position: absolute;
    color: white;
    top : 250px;
    left: 450px;
    font-size: 35px;
    text-transform: capitalize;
}
/* END MENU */

/* PHAN 1 */

.container1{
    max-width: 1140px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 50px;
  }
  .row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
  }
  [class^='col']{
    flex: 1 1 100%;;
    padding-left: 15px;
    padding-right: 15px;
  /*   border: 1px solid red; */
    display: flex;
  }
  
  @media (min-width: 576px){
    .col-sm-4{
      flex-basis: 33.3333%; 
    }
    .col-sm-6{
      flex-basis: 50%;
    }
  }
  @media (min-width: 768px){
    .col-md-4{
      flex-basis: 33.3333%; 
    }
    .col-md-6{
      flex-basis: 50%;
    }
  }
  @media (min-width: 992px){
    .col-lg-4{
      flex-basis: 33.3333%; 
    }
    .col-lg-6{
      flex-basis: 50%;
    }
  }
  
  .img-wrapper img{
    width: 100%;
    display: block;
  }
  .card{
    background-color: #eee;
  /*   border: 1px solid blue; */
    display: flex;
    flex-direction: column;
  }
  .card-content{
    padding: 1em;
    display: flex;
    flex-direction: column;
    flex: 1;
  /*   border: 2px solid green; */
  }
  .title{
    margin: 0.5rem;
    color: orange;
    text-align: center;
  }
  .btn{
    padding: 0.6em 2em;
    border: 0;
    border-radius: 5px;
    background-color: orange;
    color: white;
    align-self: center;
    transition: all 0.4s;
  }
  .btn:hover{
    background-color: red;
    color: white;
  }
  .detail{
    flex-grow: 1;
  }

  /* END PHAN 1 */

  /* PHAN 2 */


  .container2{
    max-width: 1140px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 50px;
  }
  .row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
  }
  .row1{
    height: 550px;
  }
  [class^='col']{
    flex: 1 1 100%;;
    padding-left: 15px;
    padding-right: 15px;
  /*   border: 1px solid red; */
    display: flex;
  }
  
  @media (min-width: 576px){
    .col-sm-4{
      flex-basis: 33.3333%; 
    }
    .col-sm-6{
      flex-basis: 50%;
    }
  }
  @media (min-width: 768px){
    .col-md-4{
      flex-basis: 33.3333%; 
    }
    .col-md-6{
      flex-basis: 50%;
    }
  }
  @media (min-width: 992px){
    .col-lg-4{
      flex-basis: 33.3333%; 
    }
    .col-lg-6{
      flex-basis: 50%;
    }
  }

  .title1{
    color: rgb(107, 102, 102);
  }
  .card-content{
    position: relative;
  }
  .btn1{
    padding: 1em 2em;
    border: 0;
    border-radius: 5px;
    background-color: white;
    color: rgb(150, 146, 146);
    align-self: center;
    transition: all 0.4s;
    width: 135px;
    position: absolute;
    top: 240px;
    left: 270px;
  }
  .btn1:hover{
    background-color:  rgb(214, 209, 209);
    color:  rgb(150, 146, 146);
  }

  /* END PHAN 2 */

  /* PHAN 3 */
  .container3{
    margin-top: 50px;
  }
  .banner2 img{
    width: 100%;
    height: 313px;
  }
  .banner2{
    position: relative;
  }
  .conquer1{
    font-size: 40px;
    position: absolute;
    color: white;
    top: 70px;
    left: 495px;
    text-transform: capitalize;
    text-shadow: 2px 2px #000;
}
.simple1{
    position: absolute;
    color: white;
    top : 150px;
    left: 90px;
    font-size: 20px;
    text-transform: capitalize;
    text-align: center;
}
/* END PHAN 3 */

/* PHAN 4 */

.container4{
  max-width: 1140px;
  margin: 0 auto;
  margin-top: 50px;
}
@media (min-width: 576px){
  .col-sm-6{
    flex-basis: 50%;
    max-width: 50%;
  }
}
@media (min-width: 768px){
  .col-md-3{
    flex-basis: 25%;
    max-width: 25%;
  }
}

/* END PHAN 4 */

/* PHAN 5 */

.container5{
  max-width: 1140px;
  margin: 0 auto;
  margin-top: 50px;
}

@media (min-width: 992px){
  .col-lg-12{
    flex-basis: 100%;
    max-width: 100%;
  }
}

.card2{
  height: 750px;
}
  
.btn2{
  padding: 1.2em 2.5em;
  border: 0;
  border-radius: 5px;
  background-color: white;
  color: rgb(150, 146, 146);
  align-self: center;
  transition: all 0.4s;
  width: 135px;
  position: absolute;
  top: 240px;
  left: 50px;
}
.btn2:hover{
  background-color:  rgb(214, 209, 209);
  color:  rgb(150, 146, 146);
}

/* END PHAN 5 */

/* PHAN 6 */


.container6{
  margin-top: 50px;
}
.footter{
  font-size: 30px;
  position: absolute;
  color: white;
  top: 100px;
  left: 570px;
  text-transform: capitalize;
  text-shadow: 2px 2px #000;
}


.contact-content h1{
  color: #fff;
  text-transform: capitalize;
  margin-bottom: 30px;
  text-shadow: 2px 2px #333;
}
.contact-content p{
  background-color: rgba(242,242,242,0.4) none repeat scroll 0 0;
  border-radius: 5px;
  color: #000;
  font-size: 16px;
  margin-bottom: 20px;
  padding: 20px 15px;
}
.contact-form-left{
  padding-left: 0;
}
.contact-form-right{
  padding-right: 0;
}
input{
  margin-bottom: 15px;
}
.form-control{
  border: none;
  background: rgba(242,242,242,0.4);
}
#comment.form-control{

}
.form-group button{
  background: #262628 none repeat scroll 0 0;
  color: #fff;
  margin-top: 20px;
  padding: 10px 30px;
  font-size: 18px;
  border-radius: 10px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.form-group button:hover{
  background-color: #fff;
  color: #262628;
}

.contact-section{
  position: absolute;
  top: 30px;
  left: 150px;
}

/* END PHAN 6 */

/* FOOTER */

footer{
  position: relative;
}
footer h1{
  font-weight: inherit;
  font-style: italic;
  color: rgb(168, 162, 162);
  text-align: center;
  padding: 0 20px;
}
footer p{
  font-weight: inherit;
  font-style: italic;
  color: rgb(173, 167, 167);
  text-align: center;
}
/* END FOOTER */

.to-top{
  position:fixed;
  right:10px;
  bottom: 10px;
}